name: rapidpro
services:
  proxy:
    depends_on:
      rapidpro:
        condition: service_healthy
    environment:
      CERTBOT_EMAIL: ${CERTBOT_EMAIL:?}
      DOMAIN: ${DOMAIN:?}
      NGINX_ENVSUBST_OUTPUT_DIR: /etc/nginx/user_conf.d
      USE_LOCAL_CA: ${USE_LOCAL_CA}
    image: jonasal/nginx-certbot:6.0.1-nginx1.29.1
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    volumes:
      - ./nginx:/etc/nginx/templates
      - letsencrypt:/etc/letsencrypt
      - static:/opt/idems/static:ro

  postgres:
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      timeout: 5s
    image: postgis/postgis:17-3.6-alpine
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql/data

  elastic:
    environment:
      discovery.type: single-node
      xpack.security.enabled: false
      ingest.geoip.downloader.enabled: false
      logger.level: INFO
    healthcheck:
      test: curl -s http://localhost:9200 >/dev/null || exit 1
      interval: 10s
      timeout: 5s
    image: elasticsearch:8.19.4
    restart: unless-stopped
    volumes:
      - elastic:/usr/share/elasticsearch/data

  valkey:
    command: valkey-server --save 60 1 --loglevel warning
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 5s
      timeout: 2s
    image: valkey/valkey:8.1.3-alpine3.22
    restart: unless-stopped
    volumes:
      - valkey:/data

  dynamo:
    build:
      context: dynamodb
    image: idems/dynamodb-local:3.1.0-1
    restart: unless-stopped
    volumes:
      - dynamo:/home/dynamodblocal/data

  minio:
    command:
      - "minio"
      - "server"
      - "/data"
      - "--console-address"
      - ":9001"
    environment:
      DEFAULT_BUCKETS: temba-default,${S3_ATTACHMENTS_BUCKET},${S3_SESSION_BUCKET},temba-logs,temba-archives
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:?}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
    image: quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
    restart: unless-stopped
    volumes:
      - minio:/data

  rapidpro:
    build: &rapidpro_build
      context: rapidpro
      args:
        - RAPIDPRO_TAG=v${RAPIDPRO_VERSION}
    depends_on:
      postgres:
        condition: service_healthy
      elastic:
        condition: service_healthy
      valkey:
        condition: service_healthy
      dynamo:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment: &rapidpro_env
      ALLOWED_HOSTS: "*"
      BRAND_DOMAIN: ${DOMAIN:?}
      BRAND_EMAILS_NOTIFICATIONS: ${BRAND_EMAILS_NOTIFICATIONS:?}
      CSRF_TRUSTED_ORIGINS: https://${DOMAIN:?}
      DB_HOST: postgres
      DB_NAME: ${POSTGRES_DB}
      DB_PASSWORD: ${POSTGRES_PASSWORD:?}
      DB_USER: ${POSTGRES_USER}
      DEBUG: "no"
      DJANGO_SETTINGS_MODULE: temba.settings
      EMAIL_DEFAULT_FROM: ${EMAIL_DEFAULT_FROM}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_USE_TLS: ${EMAIL_USE_TLS}
      EMAIL_USER: ${EMAIL_USER}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      EMAIL_FLOW_FROM: ${EMAIL_FLOW_FROM}
      GUNICORN_CMD_ARGS: ${GUNICORN_CMD_ARGS}
      HOSTNAME: ${DOMAIN:?}
      ID_OBFUSCATION_KEY: ${ID_OBFUSCATION_KEY:?}
      MAILROOM_AUTH_TOKEN: ${MAILROOM_AUTH_TOKEN:?}
      MAILROOM_URL: http://mailroom:8090
      REMOTE_CONTAINERS: "true"
      SECRET_KEY: ${SECRET_KEY:?}
    healthcheck:
      interval: 5s
      timeout: 5s
      test: python -c 'import requests; exit(0) if requests.get("http://localhost:8000/").ok else exit(1)'
    image: ${RAPIDPRO_IMAGE_TAG}
    restart: unless-stopped
    volumes:
      - static:/opt/idems/static

  celery:
    build:
      <<: *rapidpro_build
    command: ["celery", "-A", "temba", "worker", "-E", "-B", "--loglevel=INFO", "--autoscale", "1,2"]
    depends_on:
      rapidpro:
        condition: service_healthy
    environment:
      <<: *rapidpro_env
    healthcheck:
      test: celery -A temba inspect ping
    image: ${RAPIDPRO_IMAGE_TAG}
    restart: unless-stopped

  mailroom:
    build:
      context: mailroom
    depends_on:
      rapidpro:
        condition: service_healthy
    environment:
      MAILROOM_ADDRESS: 0.0.0.0
      MAILROOM_DB: ${DB_CONNECTION_URL}
      MAILROOM_VALKEY: ${VALKEY_URL}
      MAILROOM_ELASTIC: ${ES_URL}
      MAILROOM_DOMAIN: ${DOMAIN:?}
      MAILROOM_ATTACHMENT_DOMAIN: ${MAILROOM_ATTACHMENT_DOMAIN}
      MAILROOM_DISALLOWED_NETWORKS: 6.6.6.6
      MAILROOM_AUTH_TOKEN: ${MAILROOM_AUTH_TOKEN:?}
      MAILROOM_COURIER_AUTH_TOKEN: ${COURIER_AUTH_TOKEN:?}
      MAILROOM_AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      MAILROOM_AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD:?}
      MAILROOM_DYNAMO_ENDPOINT: ${DYNAMO_URL}
      MAILROOM_DYNAMO_TABLE_PREFIX: ${DYNAMO_TABLE_PREFIX}
      MAILROOM_S3_ENDPOINT: ${S3_URL}
      MAILROOM_S3_SESSIONS_BUCKET: ${S3_SESSION_BUCKET}
      MAILROOM_S3_ATTACHMENTS_BUCKET: ${S3_ATTACHMENTS_BUCKET}
      MAILROOM_S3_MINIO: true
      MAILROOM_LOG_LEVEL: info
    image: idems/mailroom:10.2.0-2
    restart: unless-stopped

  courier:
    build:
      context: courier
    depends_on:
      rapidpro:
        condition: service_healthy
    environment:
      COURIER_ADDRESS: 0.0.0.0
      COURIER_DB: ${DB_CONNECTION_URL}
      COURIER_VALKEY: ${VALKEY_URL}
      COURIER_DOMAIN: ${DOMAIN:?}
      COURIER_DISALLOWED_NETWORKS: 6.6.6.6
      COURIER_AUTH_TOKEN: ${COURIER_AUTH_TOKEN:?}
      COURIER_AWS_ACCESS_KEY_ID: ${MINIO_ROOT_USER}
      COURIER_AWS_SECRET_ACCESS_KEY: ${MINIO_ROOT_PASSWORD:?}
      COURIER_DYNAMO_ENDPOINT: ${DYNAMO_URL}
      COURIER_DYNAMO_TABLE_PREFIX: ${DYNAMO_TABLE_PREFIX}
      COURIER_S3_ENDPOINT: ${S3_URL}
      COURIER_S3_ATTACHMENTS_BUCKET: ${S3_ATTACHMENTS_BUCKET}
      COURIER_S3_MINIO: true
      COURIER_LOG_LEVEL: info
    image: idems/courier:10.2.0-2
    restart: unless-stopped

  indexer:
    build:
      context: rp-indexer
    depends_on:
      rapidpro:
        condition: service_healthy
    environment:
      INDEXER_DB: ${DB_CONNECTION_URL}
      INDEXER_ELASTIC_URL: ${ES_URL}
      INDEXER_LOG_LEVEL: info
    image: idems/rp-indexer:10.2.0-2
    restart: unless-stopped

  mail:
    image: axllent/mailpit:v1.27
    restart: unless-stopped
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 'yes'
      MP_SMTP_AUTH_ALLOW_INSECURE: 'yes'
    ports:
      - '8025:8025'

volumes:
  dynamo:
    driver: local
  elastic:
    driver: local
  letsencrypt:
    driver: local
  minio:
    driver: local
  postgres:
    driver: local
  static:
    driver: local
  valkey:
    driver: local
