CERTBOT_EMAIL=
COURIER_AUTH_TOKEN=
DOMAIN=localhost
DYNAMO_TABLE_PREFIX=Table
DYNAMO_URL=http://dynamo:6000
ES_URL=http://elastic:9200
GUNICORN_CMD_ARGS="--workers=2 --threads=4"
# List of four integers separated by commas e.g. "123,456,789,101"
ID_OBFUSCATION_KEY=
MAILROOM_ATTACHMENT_DOMAIN=
MAILROOM_AUTH_TOKEN=
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=
POSTGRES_DB=temba
POSTGRES_PASSWORD=
POSTGRES_USER=temba
RAPIDPRO_VERSION=10.2.4
S3_ATTACHMENTS_BUCKET=temba-attachments
S3_SESSION_BUCKET=temba-sessions
S3_URL=http://minio:9000
SECRET_KEY=
USE_LOCAL_CA=1
VALKEY_URL=valkey://valkey:6379/15
DB_CONNECTION_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable
RAPIDPRO_IMAGE_TAG=idems/rapidpro:${RAPIDPRO_VERSION}-1
